*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-style: normal;
  background-color:#c19a6b;
}

h1 {
  text-align: center;
}

p {
  font-size: small;
  font-style: oblique;
}

.pAboutUs {
  font-size: small;
  font-size: medium;
  text-align: left;
  padding: 2%;
}

.pFooter {
  font: small;
  font-style: oblique;
  font: lighter;
}

.logo-image-1 {
  width: 120px;
  height: 100px;
  margin: 15px;
}

.marchevent {
  width: 500px;
  height: 650px;
  margin: 5px auto 20px auto;
  background-color: rgb(242, 233, 222);
}

.patient-image-1 {
  width: 500px;
  height: 260px;
  margin-top: 75px;
}

.patient-image-2 {
  width: 460px;
  height: 260px;
}

.hwelcome {
  margin: 30px 0px;
  padding: auto;
  text-align: center;
}

.htab:hover {
  box-shadow: 3px 4px 3px rgb(88, 86, 86);
  margin: 1px;
}

footer {
  text-align: center;
  margin-top: 30px;
}

.navbar {
  background-color: #add8e6;
  background-size: auto;
}

div.row {
  background-color: rgb(242, 233, 222);
}

.patient-needs {
  justify-content:space-between;
}

.contact { 
  text-align: center;
}