*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
}


.logo-image-1 {
    width: 160px;
    height: 100px;
}

.patient-image-1{
    width: 460px;
    height: 260px;
}

.patient-image-2{
    width: 460px;
    height: 260px;
}